.animationBlock{
    display: none;
    align-items: center;
    justify-content: center;
  
    &__content{
        width: 250px;
        display: none;
        position: relative;
    }
  }
  
.loadingScreen{
    display: flex;
    background: map-get($colors, 'neutral');
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
}

@keyframes loadingAnimation {
    0% {
        height: 100vh;
    }

    30%{
        height: 100vh;
    } 

    100% {
        height: 0vh;
    }
}

@keyframes showLogo {
    0% {
        top: 50px;
        opacity: 0;
    }

    100%{
        top: 0;
        opacity: 1;
    }
}

@keyframes hideLogo {
    0% {
        top: 0;
        opacity: 1;
    }

    100%{
        top: -50px;
        opacity: 0;
    }
}

@media (max-width: map-get($breakpoints, "mobile")) {
    .animationBlock__content{
        width: 180px;
    }
  }